<!-- change password component -->
<form [formGroup]="changePasswordForm" class="w-[85%] sm:w-[75%] md:w-[65%] lg:w-[55%] mx-auto" (ngSubmit)="changePassword()">
    @if (errorMessage!=null) {
        <app-alert [alertType]="'change password'" [alertMessage]="'User recently changed password! Please login again'"></app-alert>
      }
    <h1 class="text-3xl mb-7 font-bold dark:text-white">{{'change password'|translate}}</h1>
    <div class="mb-4">
      <label for="current password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'current password'|translate}} :</label>
      <input formControlName="currentPassword" type="password" id="current password" class="input" [placeholder]="'Enter your current password'|translate" required />
      @if (changePasswordForm.get('currentPassword')?.touched) {
        @if (changePasswordForm.get('currentPassword')?.getError('required')) {
            <app-alert [alertType]="'password'" [alertMessage]="'password required'"></app-alert>
        }
        @else if(changePasswordForm.get('currentPassword')?.getError('pattern')) {
            <app-alert [alertType]="'password'" [alertMessage]="'password validation'"></app-alert>
        }
      }
    </div>
    <div class="mb-4">
      <label for="new password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'new password'|translate}} :</label>
      <input formControlName="password" type="password" id="new password" class="input" [placeholder]="'Enter your new password'|translate" required />
      @if (changePasswordForm.get('password')?.touched) {
        @if (changePasswordForm.get('password')?.getError('required')) {
            <app-alert [alertType]="'password'" [alertMessage]="'password required'"></app-alert>
        }
        @else if(changePasswordForm.get('password')?.getError('pattern')) {
            <app-alert [alertType]="'password'" [alertMessage]="'password validation'"></app-alert>
        }
      }
    </div>
    <div class="mb-4">
      <label for="repassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'repassword'|translate}} :</label>
      <input formControlName="rePassword" type="password" id="repassword" class="input" [placeholder]="'Enter your repassword'|translate" required />
      @if (changePasswordForm.get('rePassword')?.touched) {
        @if (changePasswordForm.get('rePassword')?.getError('required')) {
            <app-alert [alertType]="'repassword'" [alertMessage]="'password required'"></app-alert>
        }
        @else if(changePasswordForm.get('rePassword')?.getError('pattern')) {
            <app-alert [alertType]="'repassword'" [alertMessage]="'password validation'"></app-alert>
        }
      }
    </div>
    <div class="flex justify-between items-center gap-x-4">
      <button [disabled]="changePasswordForm.invalid" type="submit" class="main-btn px-3 disabled:bg-green-400 dark:disabled:bg-blue-400">{{'change password'|translate}}
        @if (loading) {
            <i class="fa-solid fa-spinner fa-spin"></i>
        }
    </button>
    </div>
</form>
