<!-- forget-password component -->
<div class="w-[70%] mx-auto">
        <h1 class="text-3xl mb-7 font-semibold">Forget Password :</h1>
        @if (inputDisplay===0) {
            <form [formGroup]="forgetPasswordForm" class="mb-4" (ngSubmit)="forgetPassword()">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">email :</label>
                <input formControlName="email" type="email" id="email" class="input" placeholder="Enter your email" required />
                @if (forgetPasswordForm.get('email')?.touched) {
                  @if (forgetPasswordForm.get('email')?.getError('required')) {
                      <app-alert [alertType]="'email'" [alertMessage]="'email required'"></app-alert>
                  }
                  @else if(forgetPasswordForm.get('email')?.getError('email')) {
                      <app-alert [alertType]="'email'" [alertMessage]="'Enter a valid email address (e.g., example@email.com).'"></app-alert>
                  }
                }
                <div class="mt-4 flex justify-end">
                  <button type="submit" [disabled]="forgetPasswordForm.invalid" class="main-btn px-3 disabled:bg-green-400">send email
                    @if (loadingSpinner) {
                        <i class="fa-solid fa-spinner fa-spin"></i>
                    }
                </button>
                </div>
            </form>
        }
        @if(inputDisplay===1){
            <form [formGroup]="resetCodeForm" class="w-1/2 mx-auto mt-10 md:mt-28" (ngSubmit)="resetCode()">
                <div class="flex justify-center mb-2 space-x-2 rtl:space-x-reverse">
                    <div>
                        <label for="code-1" class="sr-only">First code</label>
                        <input formControlName="num1" type="text" maxlength="1" data-focus-input-init data-focus-input-next="code-2" id="code-1" class="block w-9 h-9 py-3 text-sm font-extrabold text-center text-gray-900 bg-white border border-gray-300 rounded-lg focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required />
                    </div>
                    <div>
                        <label for="code-2" class="sr-only">Second code</label>
                        <input formControlName="num2" type="text" maxlength="1" data-focus-input-init data-focus-input-prev="code-1" data-focus-input-next="code-3" id="code-2" class="block w-9 h-9 py-3 text-sm font-extrabold text-center text-gray-900 bg-white border border-gray-300 rounded-lg focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required />
                    </div>
                    <div>
                        <label for="code-3" class="sr-only">Third code</label>
                        <input formControlName="num3" type="text" maxlength="1" data-focus-input-init data-focus-input-prev="code-2" data-focus-input-next="code-4" id="code-3" class="block w-9 h-9 py-3 text-sm font-extrabold text-center text-gray-900 bg-white border border-gray-300 rounded-lg focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required />
                    </div>
                    <div>
                        <label for="code-4" class="sr-only">Fourth code</label>
                        <input formControlName="num4" type="text" maxlength="1" data-focus-input-init data-focus-input-prev="code-3" data-focus-input-next="code-5" id="code-4" class="block w-9 h-9 py-3 text-sm font-extrabold text-center text-gray-900 bg-white border border-gray-300 rounded-lg focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required />
                    </div>
                    <div>
                        <label for="code-5" class="sr-only">Fifth code</label>
                        <input formControlName="num5" type="text" maxlength="1" data-focus-input-init data-focus-input-prev="code-4" data-focus-input-next="code-6" id="code-5" class="block w-9 h-9 py-3 text-sm font-extrabold text-center text-gray-900 bg-white border border-gray-300 rounded-lg focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required />
                    </div>
                    <div>
                        <label for="code-6" class="sr-only">Sixth code</label>
                        <input formControlName="num6" type="text" maxlength="1" data-focus-input-init data-focus-input-prev="code-5" id="code-6" class="block w-9 h-9 py-3 text-sm font-extrabold text-center text-gray-900 bg-white border border-gray-300 rounded-lg focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required />
                    </div>
                </div>
                <p id="helper-text-explanation" class="text-center mt-2 text-sm text-gray-500 dark:text-gray-400">Please introduce the 6 digit code we sent via email.</p>
                <div class="mt-4 flex justify-center">
                    <button type="submit" [disabled]="resetCodeForm.invalid" class="main-btn px-3 disabled:bg-green-400">send code
                      @if (loadingSpinner) {
                          <i class="fa-solid fa-spinner fa-spin"></i>
                      }
                  </button>
                  </div>
            </form>
        }
        @if (inputDisplay===2) {
            <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
                <div class="mb-4">
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">email :</label>
                    <input formControlName="email" type="email" id="email" class="input" readOnly required />
                    @if (resetPasswordForm.get('email')?.touched) {
                      @if (resetPasswordForm.get('email')?.getError('required')) {
                          <app-alert [alertType]="'email'" [alertMessage]="'email required'"></app-alert>
                      }
                      @else if(resetPasswordForm.get('email')?.getError('email')){
                          <app-alert [alertType]="'email'" [alertMessage]="'Enter a valid email address (e.g., example@email.com).'"></app-alert>
                      }
                    }
                </div>
                <div class="mb-4">
                    <label for="newPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">new password :</label>
                    <input formControlName="newPassword" type="password" id="newPassword" class="input" placeholder="Enter your new password" required />
                    @if (resetPasswordForm.get('newPassword')?.touched) {
                      @if (resetPasswordForm.get('newPassword')?.getError('required')) {
                          <app-alert [alertType]="'newPassword'" [alertMessage]="'newPassword required'"></app-alert>
                      }
                      @else if(resetPasswordForm.get('newPassword')?.getError('pattern')){
                          <app-alert [alertType]="'newPassword'" [alertMessage]="'newPassword must be 8-30 characters long, include at least one uppercase letter, one lowercase letter, one number, and one special character (@$!%*?&).'"></app-alert>
                      }
                    }
                </div>
                <div class="flex justify-end">
                    <button type="submit" [disabled]="resetPasswordForm.invalid" class="main-btn px-3 disabled:bg-green-400">reset password
                      @if (loadingSpinner) {
                          <i class="fa-solid fa-spinner fa-spin"></i>
                      }
                  </button>
                </div>
            </form>
        }
</div>