<!-- forget-password component -->
<div class="w-[85%] sm:w-[75%] md:w-[65%] lg:w-[55%] mx-auto">
        <h1 class="text-3xl mb-7 font-bold dark:text-white">{{'forget your password'|translate}} :</h1>
        @if (inputDisplay===0) {
            <form [formGroup]="forgetPasswordForm" class="mb-4" (ngSubmit)="forgetPassword()">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'email'|translate}} :</label>
                <input formControlName="email" type="email" id="email" class="input" [placeholder]="'Enter your email'|translate" required />
                @if (forgetPasswordForm.get('email')?.touched) {
                  @if (forgetPasswordForm.get('email')?.getError('required')) {
                      <app-alert [alertType]="'email'" [alertMessage]="'email required'"></app-alert>
                  }
                  @else if(forgetPasswordForm.get('email')?.getError('email')) {
                      <app-alert [alertType]="'email'" [alertMessage]="'email validation'"></app-alert>
                  }
                }
                <div class="mt-4 flex justify-end">
                  <button type="submit" [disabled]="forgetPasswordForm.invalid" class="main-btn px-3 disabled:bg-green-400 dark:disabled:bg-blue-400">{{'send email'|translate}}
                    @if (loadingSpinner) {
                        <i class="fa-solid fa-spinner fa-spin"></i>
                    }
                </button>
                </div>
            </form>
        }
        @if(inputDisplay===1){
            <form [formGroup]="resetCodeForm" class="mb-4" (ngSubmit)="resetCode()">
                <label for="reset code" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'reset code'|translate}} :</label>
                <input formControlName="resetCode" type="text" id="reset code" class="input" [placeholder]="'Enter reset code'|translate" required />
                @if (resetCodeForm.get('resetCode')?.touched) {
                  @if (resetCodeForm.get('resetCode')?.getError('required')) {
                      <app-alert [alertType]="'reset code'" [alertMessage]="'reset code required'"></app-alert>
                  }
                  @else if(resetCodeForm.get('resetCode')?.getError('pattern')) {
                      <app-alert [alertType]="'reset code'" [alertMessage]="'reset code validation'"></app-alert>
                  }
                }
                <div class="mt-4 flex justify-end">
                  <button type="submit" [disabled]="resetCodeForm.invalid" class="main-btn px-3 disabled:bg-green-400 dark:disabled:bg-blue-400">{{'reset code'|translate}}
                    @if (loadingSpinner) {
                        <i class="fa-solid fa-spinner fa-spin"></i>
                    }
                </button>
                </div>
            </form>
        }
        @if (inputDisplay===2) {
            <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
                <div class="mb-4">
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'email'|translate}} :</label>
                    <input formControlName="email" type="email" id="email" class="input" readOnly required />
                    @if (resetPasswordForm.get('email')?.touched) {
                      @if (resetPasswordForm.get('email')?.getError('required')) {
                          <app-alert [alertType]="'email'" [alertMessage]="'email required'"></app-alert>
                      }
                      @else if(resetPasswordForm.get('email')?.getError('email')){
                          <app-alert [alertType]="'email'" [alertMessage]="'email validation'"></app-alert>
                      }
                    }
                </div>
                <div class="mb-4">
                    <label for="newPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'new password'|translate}} :</label>
                    <input formControlName="newPassword" type="password" id="newPassword" class="input" [placeholder]="'Enter your new password'|translate" required />
                    @if (resetPasswordForm.get('newPassword')?.touched) {
                      @if (resetPasswordForm.get('newPassword')?.getError('required')) {
                          <app-alert [alertType]="'new password'" [alertMessage]="'new password required'"></app-alert>
                      }
                      @else if(resetPasswordForm.get('newPassword')?.getError('pattern')){
                          <app-alert [alertType]="'new password'" [alertMessage]="'password validation'"></app-alert>
                      }
                    }
                </div>
                <div class="flex justify-end">
                    <button type="submit" [disabled]="resetPasswordForm.invalid" class="main-btn px-3 disabled:bg-green-400 dark:disabled:bg-blue-400">{{'reset password'|translate}}
                      @if (loadingSpinner) {
                          <i class="fa-solid fa-spinner fa-spin"></i>
                      }
                  </button>
                </div>
            </form>
        }
</div>