<!-- order component -->
  <form [formGroup]="checkOutInformation" (ngSubmit)="payOnline()" class="w-[85%] sm:w-[75%] md:w-[65%] lg:w-[55%] mx-auto">
        <h1 class="text-3xl mb-7 font-bold dark:text-white">{{'Check out Information'|translate}} :</h1>
        <div class="mb-4">
          <label for="details" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'details'|translate}} :</label>
          <input formControlName="details" type="text" id="details" class="input" [placeholder]="'Enter details'|translate"/>
          @if (checkOutInformation.get('details')?.touched) {
            @if(checkOutInformation.get('details')?.getError('pattern')){
                <app-alert [alertType]="'details'" [alertMessage]="'details validation'"></app-alert>
            }
          }
        </div>
        <div class="mb-5">
          <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'phone'|translate}} :</label>
          <input formControlName="phone" type="text" id="phone" class="input" [placeholder]="'Enter your phone'|translate" required />
          @if (checkOutInformation.get('phone')?.touched) {
            @if (checkOutInformation.get('phone')?.getError('required')) {
                <app-alert [alertType]="'phone'" [alertMessage]="'phone required'"></app-alert>
            }
            @else if(checkOutInformation.get('phone')?.getError('pattern')){
                <app-alert [alertType]="'phone'" [alertMessage]="'phone validation'"></app-alert>
            }
          }
        </div>
        <div class="mb-5">
          <label for="city" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'city'|translate}} :</label>
          <input formControlName="city" type="text" id="city" class="input" [placeholder]="'Enter city'|translate" required />
          @if (checkOutInformation.get('city')?.touched) {
            @if (checkOutInformation.get('city')?.getError('required')) {
                <app-alert [alertType]="'city'" [alertMessage]="'city required'"></app-alert>
            }
            @else if(checkOutInformation.get('city')?.getError('pattern')){
                <app-alert [alertType]="'city'" [alertMessage]="'city validation'"></app-alert>
            }
          }
        </div>
        <div class="flex flex-wrap gap-y-4 justify-between items-center">
          <div class="flex flex-wrap gap-x-4">
            <button type="submit" [disabled]="checkOutInformation.invalid" class="main-btn px-3 disabled:bg-green-400 dark:disabled:bg-blue-400">{{'Pay online'|translate}}
              @if (OnlineSpinnerLoading) {
                <i class="fa-solid fa-spinner fa-spin"></i>
              }
            </button>
            <button (click)="cashOrder()" type="button" [disabled]="checkOutInformation.invalid" class="main-btn px-3 disabled:bg-green-400 dark:disabled:bg-blue-400">{{'Cash order'|translate}}
              @if (cashSpinnerLoading) {
                <i class="fa-solid fa-spinner fa-spin"></i>
              }
            </button>
          </div>
          <button (click)="cancelPayment()" type="button" class="main-btn px-3 bg-red-600 hover:bg-red-700 focus:ring-red-600">{{'Cancel payement'|translate}}
                  @if (false) {
                    <i class="fa-solid fa-spinner fa-spin"></i>
                  }
          </button>
        </div>
  </form>