<!-- navbar copmonent -->
<nav appNav class="py-5 fixed top-0 right-0 left-0 z-[999] bg-white shadow-md border-b border-gray-200 dark:bg-gray-900 dark:border-gray-600 duration-[0.3s]">
  <div class="w-[90%] mx-auto flex flex-wrap gap-y-7 justify-between items-center text-white">
      <h1 class="w-[95%] text-3xl font-bold lg:w-auto text-black"><a href="#"><span class="text-green-700"><i class="fa-solid fa-cart-shopping me-2"></i>Fresh</span>Cart</a></h1>
      <i (click)="dropDownNavbar()" class="w-[5%] fa-solid fa-bars text-2xl inline-block lg:w-auto lg:hidden cursor-pointer text-black"></i>
        <ul #menu class="hidden w-full text-center flex-col items-center gap-y-3 lg:w-[60%] lg:justify-between lg:flex lg:flex-row">
          <li routerLink="/home" routerLinkActive="routerLinkActive" class="routerLink">Home</li>
          <li routerLink="/cart" routerLinkActive="routerLinkActive" class="routerLink">Cart</li>
          <li routerLink="/wishList" routerLinkActive="routerLinkActive" class="routerLink">WishList</li>
          <li routerLink="/products" routerLinkActive="routerLinkActive" class="routerLink">Products</li>
          <li routerLink="/categories" routerLinkActive="routerLinkActive" class="routerLink">Categories</li>
          <li routerLink="/brands" routerLinkActive="routerLinkActive" class="routerLink">Brands</li>
          <li routerLink="/allorders" routerLinkActive="routerLinkActive" class="routerLink">All orders</li>
      </ul>
      <ul #menu class="hidden w-full text-center flex-col items-center gap-y-4 lg:w-auto lg:flex lg:flex-row lg:gap-x-6">
        @if(!isLogin){
          <li routerLink="/logIn" routerLinkActive="routerLinkActive text-white" type="button" class="routerLink w-1/2 lg:w-auto text-green-700 hover:routerLinkActive">LogIn</li>
          <li routerLink="/signUp" routerLinkActive="routerLinkActive text-white" type="button" class="routerLink w-1/2 lg:w-auto text-green-700 hover:routerLinkActive">SignUp</li>
        }
        @else {
          <li (click)="authService.logOut()" type="button" class="w-1/2 lg:w-auto main-btn bg-transparent text-red-700 hover:bg-red-800">LogOut</li>
        }
      </ul>
  </div>
</nav>