<!-- signUp component -->
<form [formGroup]="signUpForm" class="w-[85%] sm:w-[75%] md:w-[65%] lg:w-[55%] mx-auto" (ngSubmit)="signUp()">
    <h1 class="text-3xl mb-7 font-bold dark:text-white">{{'Sign up now'|translate}} :</h1>
    @if (errorMessage!=null) {
      <app-alert [alertType]="'Sign up'" [alertMessage]="'Account Already Exists'"></app-alert>
    }
    <div class="mb-4">
      <label for="text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'name'|translate}} :</label>
      <input formControlName="name" type="text" id="text" class="input" [placeholder]="'Enter your name'|translate" required />
      @if (signUpForm.get('name')?.touched) {
        @if (signUpForm.get('name')?.getError('required')) {
            <app-alert [alertType]="'name'" [alertMessage]="'name required'"></app-alert>
        }
        @else if(signUpForm.get('name')?.getError('pattern')){
            <app-alert [alertType]="'name'" [alertMessage]="'name validation'"></app-alert>
        }
      }
    </div>
    <div class="mb-4">
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'email'|translate}} :</label>
      <input formControlName="email" type="email" id="email" class="input" [placeholder]="'Enter your email'|translate" required />
      @if (signUpForm.get('email')?.touched) {
        @if (signUpForm.get('email')?.getError('required')) {
            <app-alert [alertType]="'email'" [alertMessage]="'email required'"></app-alert>
        }
        @else if(signUpForm.get('email')?.getError('email')){
            <app-alert [alertType]="'email'" [alertMessage]="'email validation'"></app-alert>
        }
      }
    </div>
    <div class="mb-4">
      <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'password'|translate}} :</label>
      <input formControlName="password" type="password" id="password" class="input" [placeholder]="'Enter your password'|translate" required />
      @if (signUpForm.get('password')?.touched) {
        @if (signUpForm.get('password')?.getError('required')) {
            <app-alert [alertType]="'password'" [alertMessage]="'password required'"></app-alert>
        }
        @else if(signUpForm.get('password')?.getError('pattern')){
            <app-alert [alertType]="'password'" [alertMessage]="'password validation'"></app-alert>
        }
      }
    </div>
    <div class="mb-4">
      <label for="rePassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'repassword'|translate}} :</label>
      <input formControlName="rePassword" type="password" id="rePassword" class="input" [placeholder]="'Enter your repassword'|translate" required />
      @if (signUpForm.get('rePassword')?.touched) {
        @if (signUpForm.get('rePassword')?.getError('required')) {
            <app-alert [alertType]="'repassword'" [alertMessage]="'repassword required'"></app-alert>
        }
        @else if(signUpForm.errors) {
            <app-alert [alertType]="'repassword'" [alertMessage]="'missmatched Password'"></app-alert>
        }
      }
    </div>
    <div class="mb-5">
      <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'phone'|translate}} :</label>
      <input formControlName="phone" type="text" id="phone" class="input" [placeholder]="'Enter your phone'|translate" required />
      @if (signUpForm.get('phone')?.touched) {
        @if (signUpForm.get('phone')?.getError('required')) {
            <app-alert [alertType]="'phone'" [alertMessage]="'phone required'"></app-alert>
        }
        @else if(signUpForm.get('phone')?.getError('pattern')){
            <app-alert [alertType]="'phone'" [alertMessage]="'phone validation'"></app-alert>
        }
      }
    </div>
    <div class="flex justify-end">
      <button [disabled]="signUpForm.invalid" type="submit" class="main-btn px-3 disabled:bg-green-400 dark:disabled:bg-blue-400">{{'Sign up'|translate}}
        @if (loading) {
          <i class="fa-solid fa-spinner fa-spin"></i>
        }
      </button>
    </div>
</form>