<!-- Cart Component -->
<section class="w-[90%] mx-auto bg-gray-100 p-3 rounded-lg">
    <div class="mb-8 flex justify-between items-center">
        <div>
            <h1 class="text-2xl font-bold mb-3">{{'Shop Cart'|translate}} <i class="ml-1 text-green-700 dark:text-blue-700 fa-solid fa-cart-plus"></i></h1>
            <h2 class="text-xl font-semibold">{{'Total number of items'|translate}} : {{numOfCartItems}}</h2>
            <p class="text-green-400 dark:text-blue-400">{{"Total Cart Price"|translate}} : {{totalCartPrice}} {{'EGP'|translate}}</p>
        </div>
        <div class="flex flex-wrap gap-3 justify-end sm:justify-start">
            <button (click)="routeToOrder()" class="main-btn flex justify-center items-center gap-x-2">{{'Check Out'|translate}} <i class="fa-solid fa-cash-register"></i></button>
            <button (click)="clearCart()" [disabled]="clearLoading" class="main-btn flex items-center gap-x-2 focus:ring-transparent bg-red-700 hover:bg-red-900">{{"Clear All Cart"|translate}} 
                @if (clearLoading) {
                    <i class="fa-solid fa-spinner fa-spin"></i>
                }
            </button>
        </div>
    </div>
    <ul class="flex flex-col gap-y-8">
        @for (cartProduct of cartProducts; track $index) {
            <app-cart-product [cartProduct]="cartProduct" (updateCartProduct)="cartProducts=$event" (newNumOfCartItems)="numOfCartItems=$event" (newTotalCartPrice)="totalCartPrice=$event"></app-cart-product>
        }
    </ul>
</section>