<!-- resuable subcategories component -->
 <section class="container my-20 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-7">
    @for (subCategory of subCategories; track $index) {
        <div class="flex justify-center items-center p-2 rounded-md border border-black shadow-lg cursor-pointer hover:scale-[1.06] transition-transform duration-[0.3s]" [title]="subCategory">
            <h2 class="text-center text-xl font-semibold">{{subCategory|titlecase}}</h2>
        </div>
    }
 </section>
